.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Excutable binary
cloud_sql_proxy

# Build folder
build/*
out/*
src/main/webapp/assets/*
src/main/webapp/dist/*
.gradle/*

# Frontend dependency
src/web/app/node_modules/*
src/web/app/package-lock.json

# .java-version
.java-version

# application-local.properties
src/main/resources/application-local.properties
